body.dark-mode , .dark-mode .bg-default{background-color:#121e2d !important;}
.dark-mode ::-webkit-scrollbar-thumb {background: #084fa7;}
.dark-mode ::-webkit-scrollbar-track {background: #0b1727;}
.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6, .dark-mode .h1, 
.dark-mode .h2, .dark-mode .h3, .dark-mode .h4, .dark-mode .h5, .dark-mode .h6{color: #9da9bb !important; opacity: 0.8;}
.dark-mode .navbar-vertical.navbar-light{
    background-color: #0b1727 !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    border: transparent;
}
.dark-mode .text-primary, .dark-mode .side-menu i {color:#9da9bb !important;opacity: 1;}
.dark-mode .side-menu:hover, .dark-mode .active-tab-big, .dark-mode .active-tab {
    background: #162131 !important;color: #fff !important;opacity: 1 !important;
}
.dark-mode .side-menu:hover .text-primary , .dark-mode .active-tab-big .text-primary , .dark-mode .active-tab .text-primary,
.dark-mode .side-menu:hover i , .dark-mode .active-tab-big i , .dark-mode .active-tab i {color: #fff !important;}
.dark-mode .side-menu img{filter: grayscale(1);}
.dark-mode .side-menu:hover img, .dark-mode .active-tab-big img, .dark-mode .active-tab img{filter: grayscale(0);}
.dark-mode .side_submenuitem{background: #162131;}
.dark-mode .sidebar-dropdown-menubars a{background: transparent;color:#9da9bb !important;}
.dark-mode .sidebar-dropdown-menubars a:hover{background: #162131;color:#fff !important;}
.dark-mode .side_submenuitem .v-expansion-panel-title,
.dark-mode .side_submenuitem .v-expansion-panel-title__icon{color: #9da9bb;}
.dark-mode .side_submenuitem .v-expansion-panel-title:hover,
.dark-mode .side_submenuitem .v-expansion-panel-title--active {color: #fff;background: #0b1727;}
.dark-mode .side_submenuitem .v-expansion-panel-title:hover .v-expansion-panel-title__icon{color: #00cd00;}
.dark-mode .side_submenuitem .v-expansion-panel--active{color: #fff;background: #0b1727 !important;}
.dark-mode .side_submenuitem .v-expansion-panel--active .v-expansion-panel-text__wrapper a{color: #9da9bb;}
.dark-mode .side_submenuitem .v-expansion-panel--active .v-expansion-panel-text__wrapper:hover a{color: #fff;}
.dark-mode .side_submenuitem .v-expansion-panel--active .v-expansion-panel-text__wrapper{border-left: 7px solid #0b1727;}
.dark-mode .side_submenuitem .v-expansion-panel--active .v-expansion-panel-text__wrapper:hover {
    background: #162131 !important;border-left: 7px solid #9da9bb;
}
.dark-mode .side_submenuitem .v-expansion-panel--active + .v-expansion-panel{background: transparent !important;}
.dark-mode .side_submenuitem .v-expansion-panel--active .v-expansion-panel-text__wrapper .v-expansion-panel-text__wrapper{
    background: #162131 !important;border-left: 7px solid #0b1727;color: #9da9bb;
}
.dark-mode .side_submenuitem .v-expansion-panel--active .v-expansion-panel-text__wrapper .v-expansion-panel-text__wrapper a{
    color: #9da9bb;
}
.dark-mode .side_submenuitem .v-expansion-panel--active .v-expansion-panel-text__wrapper .v-expansion-panel-text__wrapper:hover a{
    color: #fff;
}
.dark-mode .v-menu > .v-overlay__content > .v-card, 
.dark-mode .v-menu > .v-overlay__content > .v-sheet, 
.dark-mode .v-menu > .v-overlay__content > .v-list{background: #444444;}
.dark-mode .v-menu > .v-overlay__content .v-list{background: #0b1727}
.dark-mode .v-list-subheader{color:#fff;}
.dark-mode .dropdown-item{color: #9da9bb;border-bottom: 1px solid #162131;}
.dark-mode .dropdown-item:hover{color:#fff;background: transparent;}
.dark-mode .dropdown-item:hover i{color:#00cd00;}
.dark-mode .v-list-item__content {color: #9da9bb;}
.dark-mode .v-card{background-color: #0b1727;color: #fff;} /*border: 1px solid #344050;*/
.dark-mode .introjs-helperLayer{
    box-shadow: rgb(255 255 255 / 0%) 0px 0px 1px 2px, rgb(219 219 219 / 14%) 0px 0px 0px 5000px !important;
}


/*---------------- form css -------*/
.dark-mode .date_picker{background: #0b1727;border-color: #344050;color: #fff;}
.dark-mode .date_picker input{color: #fff;}
.dark-mode .form-control-label{color: #9da9bb;}
.dark-mode .mx-datepicker .mx-input, .dark-mode .form-control{
    border: 1px solid #344050 !important;background: #0b1727 !important;color: #fff;
}
.dark-mode .font-medium{color: #9da9bb;}
.dark-mode .v_select_design .v-field__outline__start, 
.dark-mode .v_select_design .v-field__outline__end{border-color: #344050;color: #fff;}
.dark-mode .v_select_design .v-field__input .v-select__selection-text{color: #fff;}
.dark-mode .v-field__append-inner {color: #00cd00;}


/* -------------------- date range picker css ----- */
.dark-mode .mx-icon-calendar, .dark-mode .mx-icon-clear{color: #00cd00;}
.dark-mode .daterangepicker{background-color: #121e2d;border: 1px solid #9da9bb;}
.dark-mode .daterangepicker .calendar-table th, .dark-mode .daterangepicker .calendar-table td{background-color: #121e2d;}
.dark-mode .daterangepicker .calendar-table{border: 1px solid #121e2d;background-color: #121e2d;}
.dark-mode .text-black{color: #fff;}
.dark-mode .daterangepicker td.in-range{color: #00cd00;}
.dark-mode .modal-title{color: #fff !important;}



/* color style for dark mode --*/
.dark-mode .bg-green-lighten-4{background-color: #183131 !important;color: #9da9bb;}
.dark-mode .bg-blue-lighten-4{background-color: #143a63 !important;color: #9da9bb;}
.dark-mode .bg-orange-lighten-4{background-color: #5d3434 !important;color: #9da9bb;}
.dark-mode .bg-blue-darken-2{background-color: #063767 !important;color: #9da9bb;}
.dark-mode .bg-red-lighten-4{background-color: #421923 !important;color: #9da9bb;}
.dark-mode .bg-deep-purple-lighten-4{background-color: #252153 !important;color: #9da9bb;}
.dark-mode .exapanded.bg-light-green-lighten-5{background-color: #121e2d !important;color: #9da9bb !important;}
.dark-mode .v-card.card_design {background: #0b1727 !important;}
.dark-mode .card_design .v-card-title{color: #9da9bb;}
.dark-mode .v-breadcrumbs span{color: #9da9bb;}
.dark-mode .v-breadcrumbs a span{color: #005eb3;}
.dark-mode .v-breadcrumbs a:hover span{color: #00cd00;}
.dark-mode .v-breadcrumbs .btn_animated span{color: #fff !important;}
.dark-mode .bg-green-lighten-4 .v-slide-group__content{background-color: #C8E6C9 !important;color: #000000 !important;}

/*--------- data table css --------*/
.dark-mode .v-table{
    color: #9da9bb;background-color: #0b1727;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}
.dark-mode .v-table thead th, .dark-mode .v-table thead td {background-color: #121e2d !important;}
.dark-mode .v-table thead th, .dark-mode .v-table thead .v-data-table-header__content {color: #9da9bb !important;}
.dark-mode .v-table__wrapper {border-bottom: 1px solid #5c636c;}
.dark-mode .table-hover-class .v-table__wrapper tbody tr:hover,
.dark-mode .table-hover-class .v-table__wrapper tbody tr:hover th {background: #121e2d !important;}
.dark-mode .exapanded .table tr{border: 1px solid #2f3b49;border-left: none;border-right: none;}
.dark-mode .exapanded .table .v-data-table__td{color: #9da9bb !important;}
.dark-mode .exapanded .table .thead-light .v-data-table__td{background: #094fa7 !important;}
.dark-mode .exapanded .table .thead-light .v-data-table__td .v-data-table-header__content{color: #fff !important;}









.dark-mode .list-group-item{border: 1px solid #293357;background-color: #051139;}
.dark-mode .list-group-item-action:hover, .dark-mode .list-group-item-action:focus{
    color: #d7d7d7;
    background-color: #293357;
}
.dark-mode .theme--dark.v-text-field--solo>.v-input__control>.v-input__slot {background: #293357;}
.dark-mode .v-application__wrap {background: #0b1727;}
.dark-mode .v-application__wrap .v-card {border-color: #051139;}
.dark-mode .field-wrapper-span .v-field--variant-filled {
    border-color: #495270 !important;
}
.dark-mode .v-field-label--floating {
    background-color: #0b1727 !important;
    color: #b0b5c8 !important;
}
.dark-mode .v-field__input {
    color: white !important;
}
.dark-mode .v-theme--dark.v-text-field>.v-input__control>.v-field--dirty {background: #293357;}
.dark-mode .theme--dark.v-select .v-select__selections{color: #d7d7d7;}
.dark-mode .v-theme--dark.v-select .v-select__selections{color: #d7d7d7;}
.dark-mode .v-application .primary--text {
    color: #cfd2da !important;
    caret-color: #d5d8e1 !important;
}





.dark-mode .search-input::before {
    position: absolute;
    content: '';
    z-index: 50000;
    width: 100%;
    height: 2px;
    top: 96%;
    left: 0;
    transform: scale(0, 1);
    background-color: white;
}
.dark-mode .search-input:hover::before {
    transform: scale(1, 1);
    transition: all 0.4s ease;
}
.dark-mode .search-input::after {
    content: '\f002';
    position: absolute;
    background-color: transparent;
    color: rgb(4 96 180);
    font-family: fontAwesomeFont;
    font-size: 16px;
    top: 4px;
    right: 5px;
}


.dark-mode .v-card .single-product-form .v-card--variant-elevated {border-color: #293357 !important;}
.dark-mode .v-divider {border-color: #293357 !important;}
.dark-mode .modal-content{
    background-color: #0b1727 !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}
.dark-mode .v-text-field>.v-input__control>.v-input__slot:before{border: none;}
.dark-mode .theme--dark.v-input--switch.v-input--is-disabled:not(.v-input--is-dirty) .v-input--switch__track,
.dark-mode .v-theme--dark.v-input--switch.v-input--is-disabled:not(.v-input--is-dirty) .v-input--switch__track {
    color: rgb(255 255 255 / 25%)!important;
}
.dark-mode .theme--dark.v-label {color: rgb(255 255 255 / 60%);}
.dark-mode .v-theme--dark.v-label {color: rgb(255 255 255 / 60%);}
.dark-mode .bg-white {background-color: #0b1727 !important;}
.dark-mode .fill-default {fill: #051139}
.dark-mode .card.bg-secondary{background-color: #0b1727 !important;}
.dark-mode .form_icon{top: 10px;}
.dark-mode .text-dark {color: #ffffff !important;}
