@media (max-width: 1600px)
{

}
@media (max-width: 1525px)
{

}
@media (max-width: 1440px)
{
    .dashboard_card .card-title{padding: 10px 5px;font-weight: 400;font-size: 14px;}
}
@media (max-width: 1400px)
{

}
@media (max-width: 1366px)
{
    .v-card__title .d-flex.col-sm-4.col-12{
        flex: auto;
        max-width: fit-content;
    }
    .search_width{
        width: 280px !important;
        max-width: 280px !important;
        margin-left: auto !important;
        flex: 0 0 280px !important;
    }
}
@media (max-width: 1200px)
{
    .dashboard_card.col-md-2{flex: 0 0 20%;max-width: 20%;}
}
@media (max-width: 1200px)
{
    
}
@media (max-width: 1152px)
{
    .sidebar_mini .navbar-vertical.navbar-expand-xs{width: 60px;}
    .sidebar_mini .navbar-vertical.navbar-expand-xs .navbar-nav .nav-link span{opacity: 0;white-space: nowrap;}
    .sidebar_mini .navbar-vertical.navbar-expand-xs .insidepage_menu .navbar-nav .nav-link span{opacity: 1;white-space: nowrap;}
    .sidebar_mini .sidenav .navbar-heading{ display: block;}
    /* .sidebar_mini .sidenav .navbar-brand .d_full{display: block;} */
    /* .sidebar_mini .sidenav .navbar-brand .d_sidemini{display: none;} */
    .menu_icon.mr-md-auto { margin-left: auto !important; margin-right: 0px !important;}
}
@media (max-width: 1024px)
{

}
@media (max-width: 980px)
{

}
@media (max-width: 800px)
{
    .dashboard_card.col-md-2 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .v-card__title .spacer{flex-grow:0 !important}
}
@media (max-width: 767px)
{

}
@media (max-width: 736px)
{

}
@media (max-width: 667px)
{
    .dashboard_card.col-md-2 {
        flex: 0 0 33%;
        max-width: 33%;
    }
}
@media (max-width: 640px)
{

}
@media (max-width: 600px)
{
    .header-body .px-5 {padding-left: 0rem !important;padding-right: 0rem !important;}
}
@media (max-width: 568px)
{

}
@media (max-width: 536px)
{
    .search_width {
        width: 100% !important;
        max-width: 100% !important;
        margin-left: auto !important;
        flex: 0 0 100%!important;
    }
}
@media (max-width: 480px)
{
    .navbar-expand .navbar-nav .nav-link{padding-right: 0px;padding-left: 10px;}
    .btn-lg, .btn-group-lg > .btn{padding: 5px 6px;font-size: 12px;}
    .dashboard_card.col-md-2 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .breadcrumb-item{padding: 0 12px 0 12px;}
    .breadcrumb-item + .breadcrumb-item{padding-left: 23px;}
}
@media (max-width: 414px)
{
    .header-body .col-lg-6 {flex: 0 0 100%;max-width: 100%;}
    .logo_responsive img {width: 80% !important;}
}
@media (max-width: 375px)
{
    .dashboard_card.col-md-2 {
        flex: 0 0 100%;
        max-width: 50%;
    }
    /* .search_width{
        width: 280px !important;
        max-width: 280px !important;
        margin-left: auto !important;
        flex: 0 0 280px !important;
    } */
}
@media (max-width: 360px)
{
    #container{width: 100% !important;}
    .login_form .col-6 {max-width: 100%;flex: 0 0 100%;text-align: center !important;margin-top: 10px;}
}
@media (max-width: 320px)
{
    .logo_responsive img {width: 90% !important;}
}
